
/* stripping styles */
body,
a,
p,
h1,
h2,
h3,
h4{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.wrapper{
    width: 70%; 
    max-width: 1300px;
    margin: 0 auto;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

/* base styling */

img{
  width: 100%;
  display: block;
}

html{
    font-size: 62.5%;
    height: 100%;
}

body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-auto-columns: 100%;
    height: 100vh;
    min-height: 100%;
    transition: all 1s;
}

// header styles

h1{
    @include primaryFont();
    @include fontSize(50);
}

h2{
    @include secondaryFont();
    @include fontSize(18);
    color: $primaryColor;
}

h3{
    @include primaryFont();
    @include fontSize(18);
    padding: 3% 0;
    text-align: center;
}

header{
    @include centerFlex();
    flex-direction: column;
    padding-top: 5%;
}

fieldset{
    @include centerFlex;
    flex-direction: column;
    @include primaryFont();
    border: 2px dashed $primaryGrey;
    padding: 2%;
    margin: 2% 0;
    label,
    select{
        @include fontSize(15);
        padding: 2%;
        margin: 2%;    
    }

    .selectFlex,
    .inputFlex{
        @include centerFlex;
    }
}

    input[type=submit]{
        border: none;
        padding: 10px 15px;
        margin-left: 10%;
        @include primaryFont();
        text-transform: uppercase;
        background: $accent;
        @include fontSize(15);
        cursor: pointer;
      }

      input[type=submit]:hover,
      input[type=submit]:focus{
          background: $primaryColor;
      }


.resultsFlex{
    @include centerFlex;
    .placeHolderImg{
        width: 30%;
        margin-top: 2%;
    }
    .signTextbox{
        @include centerFlex();
        flex-direction: column;
        width: 100%;
    h4{
        @include primaryFont();
        @include fontSize(18);
        border-bottom: 2px dashed $primaryGrey;
        color: $accent;
        padding: 10px 40px;
        margin-top: 5%;
        text-align: center;
    }
    p{
        @include secondaryFont();
        @include fontSize(14);
        padding: 5%;
    }
}
    .imgCont{
        width: 70%;
    }
}

footer{
    background: $primaryBlack;
    @include centerFlex;
    p,
    a{
        color: white;
        @include fontSize(10);
        font-family: $secondaryFont;
        text-align: center;
    }
}

// display all styles

.displayAll{
    border: none;
    padding: 10px 15px;
    @include primaryFont();
    text-transform: uppercase;
    background: $primaryBlack;
    color: $accent;
    @include fontSize(15);
    cursor: pointer;
  }

  .displayAll:hover,
  .displayAll:focus{
      background: $primaryColor;
  }

.displayAllGrid{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 2%;

    .displayAllFlex{
        margin: 2%;
        .imgCont{
            height: 130px;
        }
    }

    h4{
        @include primaryFont();
        @include fontSize(18);
        color: $accent;
        padding: 10px 30px;
        margin-top: 5%;
        text-align: center;
    }
    p{
        @include secondaryFont();
        @include fontSize(14);
        padding: 5%;
        border-top: 2px dashed $primaryGrey;

    }
    .imgCont{
        width: 70%;
    }
}

.nextBtn{
    border: none;
    padding: 10px 15px;
    margin-left: 85%;
    @include primaryFont();
    text-transform: uppercase;
    background: $accent;
    @include fontSize(15);
    cursor: pointer;
  }

