// media queries 

@media(max-width: 800px){
    .wrapper{
        width: 90%;
    }
    .resultsFlex{
        .placeHolderImg{
            width: 45%;
        }
    }
}

@media(max-width: 700px){
    .resultsFlex{
        .placeHolderImg{
            width: 50%;
        }
    }
    .displayAllGrid{
        grid-template-columns: 50% 50%;
        h4{
            padding-left: 0;
        }
    }
}

@media(max-width: 600px){
    .resultsFlex{
        flex-direction: column;
    }
    .displayAllGrid{
        grid-template-columns: 100%;
        .displayAllFlex{
            .imgCont{
                margin-left: 10%;
            }
        }
    }
}

@media(max-width: 500px){
    
    h1{
        @include fontSize(45);
    }
    .inputFlex{
        flex-direction: column;
    }
    input[type=submit]{
        margin-top: 3%;
    }
    
}

@media (max-width: 420px){
    h1{
        @include fontSize(40);
    }
}

@media (max-width: 370px){
    h1{
        @include fontSize(25);
    }
    h2{
        text-align: center;
        @include fontSize(15);
    }
    fieldset .selectFlex{
        flex-direction: column;
    }

}
