html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* stripping styles */
body,
a,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.wrapper {
  width: 70%;
  max-width: 1300px;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* base styling */
img {
  width: 100%;
  display: block;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
  grid-auto-columns: 100%;
  height: 100vh;
  min-height: 100%;
}

h1 {
  font-family: "Roboto Slab", serif, cursive;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 50px;
  font-size: 5rem;
}

h2 {
  font-family: "Roboto Mono", monospace, sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
  font-size: 1.8rem;
  color: #a95aec;
}

h3 {
  font-family: "Roboto Slab", serif, cursive;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 18px;
  font-size: 1.8rem;
  padding: 3% 0;
  text-align: center;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 5%;
}

fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Roboto Slab", serif, cursive;
  text-transform: uppercase;
  letter-spacing: 5px;
  border: 2px dashed #aaaaaa;
  padding: 2%;
  margin: 2% 0;
}

fieldset label,
fieldset select {
  font-size: 15px;
  font-size: 1.5rem;
  padding: 2%;
  margin: 2%;
}

fieldset .selectFlex,
fieldset .inputFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

input[type=submit] {
  border: none;
  padding: 10px 15px;
  margin-left: 10%;
  font-family: "Roboto Slab", serif, cursive;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-transform: uppercase;
  background: #05ffa1;
  font-size: 15px;
  font-size: 1.5rem;
  cursor: pointer;
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
}

input[type=submit]:hover {
  background: #a95aec;
}

.resultsFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.resultsFlex .placeHolderImg {
  width: 30%;
  margin-top: 2%;
}

.resultsFlex .signTextbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.resultsFlex .signTextbox h4 {
  font-family: "Roboto Slab", serif, cursive;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 18px;
  font-size: 1.8rem;
  border-bottom: 2px dashed #aaaaaa;
  color: #05ffa1;
  padding: 10px 40px;
  margin-top: 5%;
  text-align: center;
}

.resultsFlex .signTextbox p {
  font-family: "Roboto Mono", monospace, sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  font-size: 1.4rem;
  padding: 5%;
}

.resultsFlex .imgCont {
  width: 50%;
}

footer {
  background: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer p,
footer a {
  color: white;
  font-size: 10px;
  font-size: 1rem;
  font-family: "Roboto Mono", monospace, sans-serif;
  text-align: center;
}

.displayAll {
  border: none;
  padding: 10px 15px;
  font-family: "Roboto Slab", serif, cursive;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-transform: uppercase;
  background: #000000;
  color: #05ffa1;
  font-size: 15px;
  font-size: 1.5rem;
  cursor: pointer;
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
}

.displayAll:hover {
  background: #a95aec;
}

.displayAllGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
  margin-top: 2%;
}

.displayAllGrid .displayAllFlex {
  margin: 2%;
}

.displayAllGrid .displayAllFlex h4 {
  text-align: center;
}

.displayAllGrid h4 {
  font-family: "Roboto Slab", serif, cursive;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 18px;
  font-size: 1.8rem;
  color: #05ffa1;
  padding: 10px 30px;
  margin-top: 5%;
  text-align: center;
}

.displayAllGrid p {
  font-family: "Roboto Mono", monospace, sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  font-size: 1.4rem;
  padding: 5%;
  border-top: 2px dashed #aaaaaa;
}

.displayAllGrid .imgCont {
  width: 70%;
}

@media (max-width: 800px) {
  .wrapper {
    width: 90%;
  }
  .resultsFlex .placeHolderImg {
    width: 45%;
  }
}

@media (max-width: 700px) {
  .resultsFlex .placeHolderImg {
    width: 50%;
  }
  .displayAllGrid {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
  .displayAllGrid h4 {
    padding-left: 0;
  }
}

@media (max-width: 600px) {
  .resultsFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .displayAllGrid {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .displayAllGrid .displayAllFlex .imgCont {
    margin-left: 10%;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 45px;
    font-size: 4.5rem;
  }
  .inputFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  input[type=submit] {
    margin-top: 3%;
  }
}

@media (max-width: 420px) {
  h1 {
    font-size: 40px;
    font-size: 4rem;
  }
}

@media (max-width: 370px) {
  h1 {
    font-size: 25px;
    font-size: 2.5rem;
  }
  h2 {
    text-align: center;
    font-size: 15px;
    font-size: 1.5rem;
  }
  fieldset .selectFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
